<section id="home">
    <div class="container">
        <div class="row">
            <div class="column column bg-content">
                <div class="column">
                    <h1>Save your time by Outsourcing Tasks.
                    As a Virtual Assistant, I can help your business.</h1>
                    <a class="button btn-pink text" href="#">Learn More</a>
                </div>
            </div>
        </div>
    </div>
    <div class="transition-bg-1"></div>
</section>
<section id="about-me">
    <div class="container">
        <div class="row">
            <div class="column column-50">
                <h1 class="black-text">Stephanie Castro</h1>
                <p>We have created a awesome theme that will help designers, developers and companies create websites for their startups quickly and easily. 
                Install full website styling with a single click for a better user experience and an easier setup overall, simply add your own content and images. 
                No coding required, that’s a promise!
                <br>
                <br>
                We have created a awesome theme that will help designers, developers and companies create websites for their startups quickly and easily. 
                Install full website styling with a single click for a better user experience and an easier setup overall, simply add your own content and images. 
                No coding required, that’s a promise!
                </p>
                <a class="button btn-teal text" href="#">Get In Touch</a>
            </div>
            <div class="column column-offset-10 column-40">
                <%= image_tag("stephanies-pfp.jpg", :alt => "Virtual Assistant Profile Pic") %>
            </div>
        </div>
    </div>
</section>
<section id="services">
    <div class="container">
        <div class="row">
            <div class="column">
                <h1>Services</h1>
                <div class="row services-details">
                    <div class="column">
                        <h4>Social Media</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quos maxime ea, quis in accusantium beatae quas repudiandae recusandae aliquam debitis non autem assumenda numquam reiciendis? Nemo reprehenderit reiciendis nihil?</p>
                    </div>
                    <div class="column">
                        <h4>Copywriting</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa tempore iure in perferendis, blanditiis eos. Sed impedit voluptatum voluptatem deserunt? Incidunt ut dignissimos praesentium dolores odit, dolor tempora voluptatem placeat.</p>
                    </div>
                    <div class="column">
                        <h4>Marketing</h4>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus nam dolorum voluptas ullam quidem, dignissimos voluptate rerum eaque eum est blanditiis temporibus expedita! Modi quasi sed est consequatur quae tempore!</p>
                    </div>
                    <div class="column">
                        <h4>Web Design</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, est doloremque, dolorem nam, voluptate reiciendis magni similique culpa laboriosam magnam facere tempore cupiditate iusto ea id. Facilis quae consectetur asperiores!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="my-portfolio">
    <div class="container">
        <div class="row">
            <h1 class="black-text">My Projects</h1>
        </div>
        <div class="row projects">
            <div class="column column-33">
                <a href="/" class="card">
                    <h2>Project 1</h2>
                </a>
            </div>
            <div class="column column-33">
                <a href="/" class="card">
                    <h2>Project 2</h2>
                </a>
            </div>
            <div class="column column-33">
                <a href="/" class="card">
                    <h2>Project 3</h2>
                </a>
            </div>
        </div>
    </div>
</section>
<section id="contact-me">
    <div class="transition-bg-2"></div>
    <div class="container">
        <div class="row">
            <form action="">
                <div class="column column-25">
                    <label for="">First Name:</label>
                </div>
                <div class="column column-25">
                    <label for="">Last Name:</label>
                </div>
                <div class="column column-25">
                    <label for="">Email:</label>
                </div>
                <div class="column column-25">
                    <label for="">Phone:</label>
                </div>
                <div class="column">
                    <textarea name="comments" id="comments" cols="30" rows="10"></textarea>
                </div>
                <button class="button btn-pink">Submit</button>
            </form>
        </div>
    </div>
</section>